<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Font</title>
</head>
<body>
  <b>Menggunakan Tag &lt;b&gt;</b> <br>
  <strong>Menggunakan Tag &lt;strong&gt;</strong> <br>
  <i>Menggunakan Tag &lt;i&gt;</i> <br>
  <em>Menggunakan Tag &lt;em&gt;</em> <br>
  <mark>Menggunakan Tag &lt;mark&gt;</mark> <br>
  <small>Menggunakan Tag &lt;small&gt;</small> <br>
  <del>Menggunakan Tag &lt;del&gt;</del> <br>
  <ins>Menggunakan Tag &lt;ins&gt;</ins> <br>
  <sub>Menggunakan Tag &lt;sub&gt;</sub> <br>
  <sup>Menggunakan Tag &lt;sup&gt;</sup> <br>
  <strike>Menggunakan Tag &lt;strike&gt;</strike> <br>
  <u>Menggunakan Tag &lt;u&gt;</u> <br>
  <code>Menggunakan Tag &lt;code&gt;</code> <br>
  <pre>Menggunakan Tag &lt;pre&gt;</pre> <br>
  <em>Menggunakan Tag &lt;em&gt;</em> <br>
</body>
</html>